<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список устройств</title>
</head>
<body>
    <h1>Список устройств</h1>
    <ul>
        {% for device in devices %}
        <li>
            <h2>{{ device.name }}</h2>
            <p>Категория: {{ device.category.name }}</p>
            <p>Цена: ${{ device.price }}</p>
            <a href="{% url 'device_detail' device.id %}">Подробнее</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
